<!doctype html>
<html>
  <head>
    <title>OmniAuth: Ruby Authentication Framework</title>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
    <link rel='stylesheet' href='/stylesheets/screen.css'/>
  </head>
  <body>
    <head id='top'>
      <h1 id='logo'><a href='/'>OmniAuth</a></h1>
    </head>
    <section id='content'>
      <%= yield %>
    </section>
    <footer id='bottom'>
      Copyright &copy; <%= Date.today.year %> Intridea, Inc. Released under the MIT License <a href='https://github.com/intridea/omniauth.org'>on GitHub</a>.
    </footer>
  </body>
</html>
